.container{
  margin:auto;
  width:40%;
}
#head{
  text-align: center;
  border: solid 2px gray;
  border-radius: 150px;
  border-top-left-radius: 25px;
  margin-bottom:2em;
}
#taskInput{
  width: 73%;
}
#sortInput{
  width:73%;
}
hr{

  width:100%;
}
ul{
  list-style-type: none;
  padding:0;  
}
ul li{
  width:90%;
  border: solid 1px gray;
  padding:6px;
}
a{
  margin:auto;
  float: right;
  text-decoration:none;
}
